{% extends "layout.html" %}

{% block title %}
   Edit
{% endblock %}

{% block main %}
    <form action="/edit" method="post">
        <div class="form-group">
            <input autocomplete="off" placeholder="The title of the note" class="form-control" autofocus name="title" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" placeholder="Edit Title to.." class="form-control" name="titleEdited" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" placeholder="Edit Content to.." class="form-control" name="content" type="text-area">
        </div>
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>
{% endblock %}