{% extends "layout.html" %}

{% block title %}
   Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>TITLE</th>
                <th>CONTENT</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{note["title"]}}</td>
                    <td>{{note["content"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
